// $main-color: #E0F7FF;
$f-p-color: #DD9090;
$f-s-color: white;
$t-l-color: #237E3F;
$main-font: "Chango", serif;


.bkg {
    font-family: $main-font;
    background-image: url('../components/import/icon/main_backround.svg');

    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    // z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;

    margin: -60px 0 0 0;
    margin: 0;

    &-l {
        display: block;
        background-image: none;
        backdrop-filter: blur(15px);

        width: 1000px;
        height: 500px;

        padding: 30px 50px;
        border-radius: 60px;

        box-shadow:
            10px 10px 15px rgba(109, 90, 90, 0.5),
            -10px -10px 15px rgba(0, 0, 0, 0.5),
            10px -10px 15px rgba(0, 0, 0, 0.5),
            -10px 10px 15px rgba(0, 0, 0, 0.5),
        ;

        h1 {
            font-size: 50px;
            color: $f-p-color;
            padding: 0 0 40px;
        }
    }
}

.auth {
    display: grid;
    grid-template-columns: 130px auto;
    justify-items: end;

    &-b {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &-box {
        width: 300px;
        border-radius: 10px;

        .user-box {
            position: relative;
            margin-bottom: 30px;

            input {
                text-align: right;
                width: 100%;
                padding: 10px 0;
                font-size: 30px;
                color: $f-s-color;
                border: none;
                outline: none;
                background: transparent;
                position: relative;

                // Убираем стандартную обводку при фокусе
                &:focus {
                    outline: none;
                }
            }

            // Правый закругленный конец
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 300px; // Ширина закругления
                height: 5px; // Толщина линии
                background-color: $f-s-color;
                border-radius: 5px 5px; // Закругление справа
                z-index: 1; // Чтобы был поверх основной линии
            }
        }

        label {
            position: absolute;
            top: 10px;
            left: 100px;
            padding: 0;
            font-size: 30px;
            color: $f-s-color;
            pointer-events: none;
            transition: 0.5s;
            opacity: 0.5;
        }

        input:focus~label,
        input:valid~label {
            top: -15px;
            left: 220px;
            color: $f-p-color;
            font-size: 12px;
        }

        .password-toggle {
            position: absolute;
            top: 30%;
            cursor: pointer;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    button {
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 15px 20px;
        color: $t-l-color;
        font-size: 16px;
        font-family: $main-font;
        text-decoration: none;
        margin-bottom: 20px;

        width: 300px;

        background-color: $f-s-color;
        border: 3px solid #237E3F;
        border-radius: 20px;

        transition: all 0.9s ease;

        &:hover {
            background-color: $t-l-color;
            color: $f-s-color;
            border: 3px solid $f-s-color;
            // transition: 1s;
        }

    }



    form {
        display: flex;
        flex-direction: column;

        a, button {
            width: 300px;
            text-decoration: none;
        }

        
    }
}

.error {
    color: red;
    margin-right: 10px;
    border-right: 2px solid red;
    border-left: 2px solid red;
    padding: 0px 10px;

}


.save-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    align-items: center;


    .remember {
        cursor: pointer;

        display: flex;
        width: 200px;
        justify-content: space-between;
        color: $f-s-color;

        p {
            margin: 0;
        }
    }

    


    .google-login {
        width: 300px;
        // height: 50px;
        padding: 15px 15px;
        display: flex;

        justify-content: space-between;
        align-items: flex-start;

        font-family: $main-font;
        font-size: 16px;

        border: 3px solid black;
        border-radius: 18px;

        background-color: $f-s-color;

        cursor: pointer;

        transition: all 0.5s ease;

        &:hover {
            background-color: $f-s-color;
            color: $t-l-color;
            border: 3px solid $t-l-color;
            // transition: 1s;
        }

        p {
            margin: 2px 0 0 0;
        }

    }
}
