
$main-font: "Sofia Sans", sans-serif;

* {
    font-family: $main-font;

    #root {
        padding: 60px;
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: var(--primary-color); 
    }

    &::-webkit-scrollbar-track {
        background-color: var(--background-color);
        margin: 30px 10px 0 0; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color);
        border-radius: 6px;
        border: 2px solid transparent; 
        background-clip: content-box; 
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--primary-color);
    }
}