$primary-color: #DD9090;
$secondary-color: #723A3A;
$main-font: "Chango", serif;



.main {
    padding: 60px;
    font-family: $main-font;

    position: relative;
    padding-top: 50px;

    overflow: auto !important;
    height: calc(100vh - 90px);

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        margin-top: 50px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #723A3A;
        border-radius: 5px;
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 40px;
        width: 10px;
        height: 10px;
        margin-top: 50px;
    }
    
        // ...

    &-search {
        width: 97%;
        border: 5px solid black;
        border-radius: 40px;
        height: auto !important;
        padding: 20px;

        margin-bottom: 130px;

        &-field {
            border: 2px solid black;
            height: 60px;
            border-radius: 30px;
            margin-bottom: 20px;
            box-sizing: border-box;
            width: 100%;
            padding: 10px 5px;
            font-family: $main-font;
            font-size: 20px;

            display: flex;
            align-items: center;

            &-inp {
                border: none;
                outline: none;
                height: 30px;
                width: 100%;
            }
        }

        &-btns-bot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap: 20px;

            .micro {
                width: 50px;
                height: 50px;
                stroke: black;
            }


            &-btn {
                font-family: $main-font;
                font-size: 20px;
                width: 150px;
                height: 50px;
                background-color: white;
                color: $secondary-color;
                border: 2px solid $secondary-color;
                border-radius: 40px;
                cursor: pointer;
                transition: 0.5s;

                display: flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                // padding: 13px 40px;

                &:hover {
                    background-color: $secondary-color;
                    color: white;
                }
            }


        }
    }
}

.favorite {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;

    // gap: 6%;
    justify-content: space-between;


    &-circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $secondary-color;
    }

    &-line {
        width: 50%;
        height: 5px;
        background-color: $secondary-color;
        border-radius: 5px;

        // border: none;
        outline: none;
        // background: transparent;
        position: relative;


    }

    p {
        font-size: 60px;
        color: $secondary-color;
    }
}

.list-fv {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// .title-bar {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 1000;
// }
