$primary-color: #DD9090;
$secondary-color: #723A3A;


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .item {
        border: 2px solid $secondary-color;
        border-radius: 20px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;

        cursor: pointer;

        transition: all 0.5s;

        &:hover {
            background-color: $secondary-color;
            
            a {
                color: white;
            }
        }

        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
}