$primary-color: #DD9090;
$secondary-color: #723A3A;

.title-bar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: $primary-color;
    color: white;
    -webkit-app-region: drag; // Позволяет перемещать окно
    width: 99%; // Изменено на 100%
    padding: 0 30px 0 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // bottom: 0;
    z-index: 2000; // Убедимся, что TitleBar всегда сверху

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: $primary-color;
    color: white;
    -webkit-app-region: drag; // Позволяет перемещать окно
    padding: 0 10px;

    button {
        background: none;
    }

    * {
        border: none;
    }

    &-drag {
        -webkit-app-region: drag; // Позволяет перемещать окно
    }

    .burger {
        height: 20px;
        margin: 3px 0 8px;
        cursor: pointer;
        -webkit-app-region: no-drag !important; // Отключаем drag для кликабельного элемента
    }

    &-trapezoid {
        width: 1290px;
        height: 24px;
        padding: 3px 50px;
        display: flex;
        justify-content: space-between;
        background-color: $secondary-color;
        clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 2% 100%);
        -webkit-app-region: drag; // Отключаем drag для кликабельного элемента

        a {
            -webkit-app-region: no-drag;
        }

        .microphone, .decoding {
            margin-right: 30px;
            border-right: 2px solid $primary-color;
            padding: 3px 30px 3px 0;
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15px;
            gap: 20px;

            .mic {
                height: 24px;
            }
        }
    }

    &-content-left {
        display: flex;
        align-items: center;
    }

    &-content-right {
        display: flex;
        gap: 20px;
        -webkit-app-region: no-drag; // Отключаем drag для кликабельного элемента
    }

    // button
    &-controls {
        display: flex;
        gap: 10px;
        height: 20px;
        -webkit-app-region: no-drag; // Отключаем drag для кликабельного элемента

        button {
            background: none;
            border-radius: 50%;
            cursor: pointer;
            width: 20px;
            -webkit-app-region: no-drag; // Отключаем drag для кликабельного элемента
        }

        .curtail {
            background-color: #4FBD34;
        }

        .minimize {
            background-color: #E7D947;
        }

        .close {
            background-color: #F24141;
        }
    }
}